@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  --color-rose-50: hsl(24, 45%, 98%);
  --color-rose-100: hsl(13, 29%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background: var(--color-rose-100);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.add-cart-btn {
  border: 1px solid #4a5565;

  transition: all 0.3s;
}

.add-cart-btn:hover,
.add-cart-btn:active {
  border: 1px solid var(--color-red);
}

.smooth-trans {
  transition: all 0.3s;
}

.cancel-btn {
  box-shadow: inset 0 0 0 2px var(--color-rose-100);
  transition: all 0.3s;
}

.cancel-btn:hover,
.cancel-btn:active {
  box-shadow: none;
  color: #f4edeb;
}
